<div class="containerForm mt-5 " id="container ">
    <div class="form-container sign-in-container ">
        <form method="POST" action="/users/login" class="login_form">
            <h1 class="font-weight-bold">Sign in</h1>
            <div class="form-group">
                <input class="form-control" type="email" placeholder="Email" name="email" required />
            </div>
            <div class="form-group">
                <input class="form-control" type="password" placeholder="Password" name="password" required />
            </div>
            <button type="submit" class="but">Login</button>
        </form>
    </div>
    <div class="overlay-panel overlay-right">
        <h1 class="font-weight-bold">Hello, Friend!</h1>
        <p>You don't have account yet? Don't worry! You still can join us</p>
        <button class="but" id="signUp" type="submit"><a class="nav-link" href="/users/register">register</a></button>
    </div>
</div>