<section class="register">
    <div class="containerRegForm mt-5" id="container">
        <div class="form-container sign-in-container">
            <form action="/users/register" method="POST" encType="multipart/form-data" class="login_form">
                <h1 class="font-weight-bold">Sign up</h1>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" value="{{name}}" required>
                </div>
                <div class="form-group">
                    <label for="lastname">Last name</label>
                    <input type="text" class="form-control" name="lastname" value="{{lastname}}" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" value="{{email}}" required>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" name="city" value="{{city}}" required>
                </div>
                <div class="form-group">
                    <label for="education">Education</label>
                    <input type="text" class="form-control" name="education" value="{{education}}" required>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" value="{{password}}" required>
                </div>
                <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    <input type="password" class="form-control" name="password2" value="{{password2}}" required>
                </div>
                <div class="form-group">
                    <input type="file" name="image" id="file" class="inputfile" required>
                    <label for="file">Upload your photo</label>
                </div>
                <button type="submit" class="btn btn-info btn-rounded">Sumbit</button>
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1 class="font-weight-bold">Good to see you!</h1>
                    <p>You already have an account?</p>
                    <button class="but" id="signUp" type="submit"><a class="nav-link" href="/users/login">Sign
                            In</a></button>
                </div>
            </div>
        </div>
    </div>
</section>